@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none !important;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.liquid-title-gradient {
  background-color: #209cff;
  background-image: radial-gradient(at 4% 36%, #209cff 0, transparent 53%), 
                    radial-gradient(at 100% 60%, #68e0cf 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::selection {
  background: var(--nextui-colors-blue200)
}


.outline-gradient {
  border: 1px solid;
  padding: 0.01rem 1.2rem;
  border-radius: 0.80rem;
  border-image: linear-gradient(to right, #209cff, #68e0cf) 1;
}


.feature-glow {
  background-color:#0f0e13;
  background-image: radial-gradient(at 50% 59%, #000F76 1.2rem, transparent 30%);
}

@media (max-width:640px) {
  .gradient-bg {
    background-color:#0f0e13;
    background-image: radial-gradient(700px 400px at 50% 83.5%, #0199fe 0, transparent 30%), 
                      radial-gradient(800px 400px at 10% 30%, #000F76 0, transparent 50%);
  }

  .incentive-gradient {
    background-color:#0f0e13;
    background-image: radial-gradient(500px 300px at 50% 46%, #AF18AC 0, transparent 100%);
  }
}
  
@media (min-width: 640px) and ( max-width: 767px) {
  .gradient-bg {
    background-color:#0f0e13;
    background-image: radial-gradient(1000px 600px at 50% 78.5%, #0199fe 0, transparent 30%), 
                      radial-gradient(800px 400px at 10% 30%, #000F76 0, transparent 50%);
  }

  .incentive-gradient {
    background-color:#0f0e13;
    background-image: radial-gradient(500px 300px at 50% 46%, #AF18AC 0, transparent 100%);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gradient-bg {
    background-color:#0f0e13;
    background-image: radial-gradient(700px 400px at 74.5% 70.9%, #0199fe 0, transparent 30%), 
                      radial-gradient(800px 400px at 10% 30%, #000F76 0, transparent 50%);
  }

  .incentive-gradient {
    background-color:#0f0e13;
    background-image: radial-gradient(480px 290px at 50% 46%, #AF18AC 0, transparent 100%);

  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .gradient-bg {
    background-color:#0f0e13;
    background-image: radial-gradient(900px 500px at 74.5% 73.5%, #0199fe 0, transparent 30%), 
                      radial-gradient(800px 400px at 10% 30%, #000F76 0, transparent 50%);
  }

  .incentive-gradient {
    background-color:#0f0e13;
    background-image: radial-gradient(370px 260px at 75.8% 40%, #AF18AC 0, transparent 100%);
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .gradient-bg {
    background-color:#0f0e13;
    background-image: radial-gradient(1000px 600px at 74.5% 70.5%, #0199fe 0, transparent 30%), 
                      radial-gradient(900px 500px at 10% 30%, #000F76 0, transparent 50%);
  }

  .incentive-gradient {
    background-color:#0f0e13;
    background-image: radial-gradient(405px 270px at 73.8% 40%, #AF18AC 0, transparent 100%);
  }
}

@media (min-width: 1536px) {
  .gradient-bg {
    background-color:#0f0e13;
    background-image: radial-gradient(1600px 900px at 76.9% 68.5%, #0199fe 0, transparent 30%), 
                      radial-gradient(1000px 600px at 10% 30%, #000F76 0, transparent 50%);
  }

  .incentive-gradient {
    background-color:#0f0e13;
    background-image: radial-gradient(350px 240px at 66.8% 40%, #AF18AC 0, transparent 100%);
  }
}

.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  width: 100%;
}


.main-content {
  padding: 10px;
  margin-left: 275px;
  margin-right: 275px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}